@include keyframes (fadeIn) {
    0%{
        opacity:0;
    }
    99% {
        opacity:1;
    }
    100% {
        z-index:1;
        opacity:1;
    }
}
@include keyframes (fadeOut) {
    0%{
        opacity:1;
        z-index:inherit;
    }
    99% {
        opacity:0;
        z-index:inherit;
    }
    100% {
        z-index:-1000;
        opacity:0;
    }
}

@include keyframes (pulse) {
    0%,
    100%,
    30%,
    50%,
    60%,
    80% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(8px)
    }
    70% {
        transform: translateY(5px)
    }
}

@include keyframes (blink) {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
       opacity: 0;
    }
}

@include keyframes (soundbar) {
    0% {
        height: 1px;
    }
    90% {
        height: 16px;
    }
    100% {
        height: 16px;
    }
}

@include keyframes (soundbar2) {
    0% {
        height: 8px;
    }
    10% {
        height: 8px;
    }
    100% {
        height: 2px;
    }
}

@include keyframes (soundbar3) {
    0% {
        height: 8px;
    }
    50%{
        height: 10px;
    }
    100% {
        height: 4px;
    }
}