@include keyframes (fadeIn) {
    0%{
        opacity:0;
    }
    99% {
        opacity:1;
    }
    100% {
        z-index:1;
        opacity:1;
    }
}
@include keyframes (fadeOut) {
    0%{
        opacity:1;
        z-index:inherit;
    }
    99% {
        opacity:0;
        z-index:inherit;
    }
    100% {
        z-index:-1000;
        opacity:0;
    }
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}