html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Domaine Text Bold';
  src: url("../fonts/Domaine/DomaineText-Bold.woff2") format("woff2"), url("../fonts/Domaine/DomaineText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Domaine Text Black';
  src: url("../fonts/Domaine/DomaineText-Black.woff2") format("woff2"), url("../fonts/Domaine/DomaineText-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Domaine Display Bold';
  src: url("../fonts/Domaine/DomaineDisp-Bold.woff2") format("woff2"), url("../fonts/Domaine/DomaineDisp-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/Open_Sans/OpenSans.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/Open_Sans/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans-Semibold.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/Open_Sans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/Open_Sans/OpenSans-Light.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  opacity: 0; }

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  outline: none; }
  *:focus {
    outline: -webkit-focus-ring-color auto 5px; }

button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  background: none;
  cursor: pointer; }

@font-face {
  font-family: 'Domaine Text Bold';
  src: url("../fonts/Domaine/DomaineText-Bold.woff2") format("woff2"), url("../fonts/Domaine/DomaineText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Domaine Text Black';
  src: url("../fonts/Domaine/DomaineText-Black.woff2") format("woff2"), url("../fonts/Domaine/DomaineText-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Domaine Display Bold';
  src: url("../fonts/Domaine/DomaineDisp-Bold.woff2") format("woff2"), url("../fonts/Domaine/DomaineDisp-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/Open_Sans/OpenSans.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/Open_Sans/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans-Semibold.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/Open_Sans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/Open_Sans/OpenSans-Light.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Domaine Text Bold';
  src: url("../fonts/Domaine/DomaineText-Bold.woff2") format("woff2"), url("../fonts/Domaine/DomaineText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Domaine Text Black';
  src: url("../fonts/Domaine/DomaineText-Black.woff2") format("woff2"), url("../fonts/Domaine/DomaineText-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Domaine Display Bold';
  src: url("../fonts/Domaine/DomaineDisp-Bold.woff2") format("woff2"), url("../fonts/Domaine/DomaineDisp-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/Open_Sans/OpenSans.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/Open_Sans/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans-Semibold.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/Open_Sans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/Open_Sans/OpenSans-Light.woff2") format("woff2"), url("../fonts/Open_Sans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
h1,
h2,
h3,
h4,
h5,
h6,
a,
div {
  color: white;
  font-style: normal;
  margin: 0; }

h2.headline {
  font: normal normal 700 36px/42px "Domaine Text Bold"; }
  @media screen and (min-width: 1441px) and (max-height: 1125px) {
    h2.headline {
      font: normal normal 700 43.2px/50.4px "Domaine Text Bold" !important; } }
  @media screen and (min-width: 2001px) {
    h2.headline {
      font: normal normal 700 57.6px/67.2px "Domaine Text Bold"; } }
  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    h2.headline {
      font: normal normal 700 50.4px/58.8px "Domaine Text Bold"; } }
  @media screen and (min-width: 1441px) and (max-width: 1599px) {
    h2.headline {
      font: normal normal 700 43.2px/50.4px "Domaine Text Bold"; } }
  @media screen and (max-width: 1024px) {
    h2.headline {
      font: normal normal 700 43.2px/50.4px "Domaine Text Bold"; } }
  @media screen and (max-width: 880px) {
    h2.headline {
      font: normal normal 700 36px/42px "Domaine Text Bold"; } }
  @media screen and (max-width: 992px) {
    h2.headline {
      font: normal normal 700 36px/42px "Domaine Text Bold"; } }
  @media screen and (max-width: 768px) {
    h2.headline {
      font: normal normal 700 36px/42px "Domaine Text Bold"; } }
  @media screen and (max-width: 500px) {
    h2.headline {
      font: normal normal 700 27px/31.5px "Domaine Text Bold"; } }
  @media screen and (max-device-width: 736px) and (orientation: portrait) {
    h2.headline {
      font: normal normal 700 27px/31.5px "Domaine Text Bold"; } }

p.headline-description {
  font: normal normal 300 16px/28px "Open Sans Light", sans-serif; }
  @media screen and (min-width: 1441px) and (max-height: 1125px) {
    p.headline-description {
      font: normal normal 300 19.2px/33.6px "Open Sans Light", sans-serif !important; } }
  @media screen and (min-width: 2001px) {
    p.headline-description {
      font: normal normal 300 25.6px/44.8px "Open Sans Light", sans-serif; } }
  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    p.headline-description {
      font: normal normal 300 22.4px/39.2px "Open Sans Light", sans-serif; } }
  @media screen and (min-width: 1441px) and (max-width: 1599px) {
    p.headline-description {
      font: normal normal 300 19.2px/33.6px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 1024px) {
    p.headline-description {
      font: normal normal 300 19.2px/33.6px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 880px) {
    p.headline-description {
      font: normal normal 300 16px/28px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 992px) {
    p.headline-description {
      font: normal normal 300 16px/28px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 768px) {
    p.headline-description {
      font: normal normal 300 16px/28px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 500px) {
    p.headline-description {
      font: normal normal 300 12px/21px "Open Sans Light", sans-serif; } }
  @media screen and (max-device-width: 736px) and (orientation: portrait) {
    p.headline-description {
      font: normal normal 300 12px/21px "Open Sans Light", sans-serif; } }

p.heading {
  font: normal normal 300 24px/28px "Open Sans Light", sans-serif; }
  @media screen and (min-width: 1441px) and (max-height: 1125px) {
    p.heading {
      font: normal normal 300 28.8px/34.4px "Open Sans Light", sans-serif !important; } }
  @media screen and (min-width: 2001px) {
    p.heading {
      font: normal normal 300 38.4px/47.2px "Open Sans Light", sans-serif; } }
  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    p.heading {
      font: normal normal 300 33.6px/40.8px "Open Sans Light", sans-serif; } }
  @media screen and (min-width: 1441px) and (max-width: 1599px) {
    p.heading {
      font: normal normal 300 28.8px/34.4px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 1024px) {
    p.heading {
      font: normal normal 300 28.8px/34.4px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 880px) {
    p.heading {
      font: normal normal 300 24px/28px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 992px) {
    p.heading {
      font: normal normal 300 24px/28px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 768px) {
    p.heading {
      font: normal normal 300 24px/28px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 500px) {
    p.heading {
      font: normal normal 300 18px/20px "Open Sans Light", sans-serif; } }
  @media screen and (max-device-width: 736px) and (orientation: portrait) {
    p.heading {
      font: normal normal 300 18px/20px "Open Sans Light", sans-serif; } }

.subheadline {
  font: normal normal 700 24px/32px "Domaine Text Bold"; }
  @media screen and (min-width: 1441px) and (max-height: 1125px) {
    .subheadline {
      font: normal normal 700 28.8px/38.4px "Domaine Text Bold" !important; } }
  @media screen and (min-width: 2001px) {
    .subheadline {
      font: normal normal 700 38.4px/51.2px "Domaine Text Bold"; } }
  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    .subheadline {
      font: normal normal 700 33.6px/44.8px "Domaine Text Bold"; } }
  @media screen and (min-width: 1441px) and (max-width: 1599px) {
    .subheadline {
      font: normal normal 700 28.8px/38.4px "Domaine Text Bold"; } }
  @media screen and (max-width: 1024px) {
    .subheadline {
      font: normal normal 700 28.8px/38.4px "Domaine Text Bold"; } }
  @media screen and (max-width: 880px) {
    .subheadline {
      font: normal normal 700 24px/32px "Domaine Text Bold"; } }
  @media screen and (max-width: 992px) {
    .subheadline {
      font: normal normal 700 24px/32px "Domaine Text Bold"; } }
  @media screen and (max-width: 768px) {
    .subheadline {
      font: normal normal 700 24px/32px "Domaine Text Bold"; } }
  @media screen and (max-width: 500px) {
    .subheadline {
      font: normal normal 700 18px/24px "Domaine Text Bold"; } }
  @media screen and (max-device-width: 736px) and (orientation: portrait) {
    .subheadline {
      font: normal normal 700 18px/24px "Domaine Text Bold"; } }

.link {
  font: normal normal 300 10px/13px "Open Sans Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em; }
  @media screen and (min-width: 1441px) and (max-height: 1125px) {
    .link {
      font: normal normal 300 12px/15px "Open Sans Bold", sans-serif !important; } }
  @media screen and (min-width: 2001px) {
    .link {
      font: normal normal 300 16px/19px "Open Sans Bold", sans-serif; } }
  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    .link {
      font: normal normal 300 14px/17px "Open Sans Bold", sans-serif; } }
  @media screen and (min-width: 1441px) and (max-width: 1599px) {
    .link {
      font: normal normal 300 12px/15px "Open Sans Bold", sans-serif; } }
  @media screen and (max-width: 1024px) {
    .link {
      font: normal normal 300 12px/15px "Open Sans Bold", sans-serif; } }
  @media screen and (max-width: 880px) {
    .link {
      font: normal normal 300 10px/13px "Open Sans Bold", sans-serif; } }
  @media screen and (max-width: 992px) {
    .link {
      font: normal normal 300 10px/13px "Open Sans Bold", sans-serif; } }
  @media screen and (max-width: 768px) {
    .link {
      font: normal normal 300 10px/13px "Open Sans Bold", sans-serif; } }
  @media screen and (max-width: 500px) {
    .link {
      font: normal normal 300 7.5px/10.5px "Open Sans Bold", sans-serif; } }
  @media screen and (max-device-width: 736px) and (orientation: portrait) {
    .link {
      font: normal normal 300 7.5px/10.5px "Open Sans Bold", sans-serif; } }

p.content {
  font: normal normal 300 18px/25px "Open Sans Light", sans-serif; }
  @media screen and (min-width: 1441px) and (max-height: 1125px) {
    p.content {
      font: normal normal 300 21.6px/24.6px "Open Sans Light", sans-serif !important; } }
  @media screen and (min-width: 2001px) {
    p.content {
      font: normal normal 300 28.8px/44.2px "Open Sans Light", sans-serif; } }
  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    p.content {
      font: normal normal 300 25.2px/38.8px "Open Sans Light", sans-serif; } }
  @media screen and (min-width: 1441px) and (max-width: 1599px) {
    p.content {
      font: normal normal 300 21.6px/24.6px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 1024px) {
    p.content {
      font: normal normal 300 21.6px/24.6px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 880px) {
    p.content {
      font: normal normal 300 18px/25px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 992px) {
    p.content {
      font: normal normal 300 18px/25px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 768px) {
    p.content {
      font: normal normal 300 18px/25px "Open Sans Light", sans-serif; } }
  @media screen and (max-width: 500px) {
    p.content {
      font: normal normal 300 13.5px/17px "Open Sans Light", sans-serif; } }
  @media screen and (max-device-width: 736px) and (orientation: portrait) {
    p.content {
      font: normal normal 300 13.5px/17px "Open Sans Light", sans-serif; } }

a {
  cursor: pointer !important; }

.start-btn {
  width: 1.8vw;
  min-width: 45px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transform: scaleX(-1) rotate(-90deg);
  -moz-transform: scaleX(-1) rotate(-90deg);
  -ms-transform: scaleX(-1) rotate(-90deg);
  -o-transform: scaleX(-1) rotate(-90deg);
  transform: scaleX(-1) rotate(-90deg); }
  @media screen and (max-width: 768px) {
    .start-btn {
      min-width: 35px; } }

#prev-next {
  position: relative;
  width: 100vw;
  opacity: 0;
  display: none; }

.prev-btn {
  left: 2.9vw !important;
  width: .8vw;
  min-width: 15px;
  cursor: pointer;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }
  @media screen and (max-width: 768px) {
    .prev-btn {
      width: 10px;
      min-width: 10px; } }

.next-btn {
  right: 2.9vw !important;
  width: .8vw;
  min-width: 15px;
  cursor: pointer;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }
  @media screen and (max-width: 768px) {
    .next-btn {
      width: 10px;
      min-width: 10px; } }

header {
  width: 100vw;
  top: 3.4vh;
  z-index: 100;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }
  header .container {
    width: 100%;
    height: 100%; }
    header .container .logo {
      width: 5vw;
      top: 3.4vh;
      left: 2.9vw; }
      header .container .logo.aetna-logo {
        width: 5vw; }
      header .container .logo.aetnacare-logo {
        width: 8.4vw;
        opacity: 0; }
    header .container #header-links {
      top: 3.4vh;
      right: 2.9vw;
      cursor: pointer; }
      header .container #header-links #burger {
        -webkit-transition: all 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: all 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        width: 2vw;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 0;
        right: 0; }
      header .container #header-links span {
        opacity: 0;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
        -webkit-filter: blur(5px);
        filter: blur(5px);
        -webkit-transition: all 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: all 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        display: inline-block;
        vertical-align: middle; }
      header .container #header-links .link {
        letter-spacing: 0.06em;
        vertical-align: middle; }
        header .container #header-links .link:first-of-type {
          margin-right: 1vw; }
        header .container #header-links .link:last-of-type {
          margin-left: 1vw;
          margin-right: 0; }
      header .container #header-links .social-icon {
        height: 2vh;
        width: auto;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px; }
        header .container #header-links .social-icon:first-of-type {
          margin-left: 1vw; }
      header .container #header-links.show-links #burger {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        opacity: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: -1; }
      header .container #header-links.show-links span {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        -webkit-transform: translateX(0) !important;
        -moz-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
        -o-transform: translateX(0) !important;
        transform: translateX(0) !important;
        opacity: 1; }

section {
  display: none;
  opacity: 0;
  text-align: center;
  height: auto;
  display: none; }
  section.is-active {
    display: inherit; }
  section .section-title {
    text-align: center;
    color: white; }
  section#introduction {
    width: 49.19vw; }
    @media screen and (max-width: 1024px) {
      section#introduction {
        width: 59.19vw; } }
    @media screen and (max-width: 880px) {
      section#introduction {
        width: 69.19vw; } }
    @media screen and (max-width: 768px) {
      section#introduction {
        width: 79.19vw; } }
    section#introduction .section-title {
      width: 14.35vw; }
    section#introduction .heading {
      margin-top: 3.64vh;
      margin-bottom: 11vh; }
    section#introduction #journey-btn {
      width: 13vw;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer; }
      section#introduction #journey-btn p {
        width: 100%; }
  section.super {
    z-index: 1;
    text-align: center; }
    section.super p.headline-description {
      color: #ffffff;
      margin-top: 1.5vh;
      letter-spacing: 0.03em; }
    section.super .btn {
      margin-top: 2.25vh;
      display: block; }
      section.super .btn .start-btn {
        margin-left: .6vw; }
    section.super .link img {
      width: .6vw;
      min-width: 14px;
      margin-right: .4vw;
      vertical-align: middle; }
  section.copy {
    z-index: 1; }
    section.copy .section-title {
      color: rgba(255, 255, 255, 0.4) !important;
      text-align: left !important; }
    section.copy p {
      color: #ffffff;
      margin-top: 1.5vh;
      letter-spacing: 0.03em; }
    section.copy .btn {
      margin-top: 2.25vh;
      display: block; }
      section.copy .btn .start-btn {
        margin-left: .6vw; }
  section div.content {
    text-align: left;
    display: none;
    width: 46.12vw; }
    @media screen and (max-width: 1024px) {
      section div.content {
        width: 56.12vw; } }
    @media screen and (max-width: 880px) {
      section div.content {
        width: 66.12vw; } }
    @media screen and (max-width: 768px) {
      section div.content {
        width: 80.12vw; } }
    section div.content div.divider {
      width: 100%;
      height: 1px;
      background: #868f96;
      margin-top: 2.24vh;
      margin-bottom: 2.24vh; }
      section div.content div.divider:last-of-type {
        margin-bottom: 3.14vh; }
    section div.content .learn-more {
      display: none; }
      section div.content .learn-more ul {
        margin: 1.57vh 0 0 0;
        padding: 0;
        padding-left: 20px; }
        section div.content .learn-more ul li {
          margin: 0;
          padding: 0;
          margin-left: 20px;
          letter-spacing: 0.03em; }
    section div.content .more-btn, section div.content .back-btn {
      margin-bottom: 3.6vh;
      display: block; }
      section div.content .more-btn img, section div.content .back-btn img {
        width: 1vw;
        min-width: 14px;
        margin-right: 1vw;
        vertical-align: middle; }

.pulse {
  -webkit-animation: pulse 3s linear infinite;
  -moz-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
  -webkit-transform-origin: 70% 70%;
  -moz-transform-origin: 70% 70%;
  -ms-transform-origin: 70% 70%;
  -o-transform-origin: 70% 70%;
  transform-origin: 70% 70%; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  99% {
    opacity: 1; }
  100% {
    z-index: 1;
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  99% {
    opacity: 1; }
  100% {
    z-index: 1;
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  99% {
    opacity: 1; }
  100% {
    z-index: 1;
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: inherit; }
  99% {
    opacity: 0;
    z-index: inherit; }
  100% {
    z-index: -1000;
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: inherit; }
  99% {
    opacity: 0;
    z-index: inherit; }
  100% {
    z-index: -1000;
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: inherit; }
  99% {
    opacity: 0;
    z-index: inherit; }
  100% {
    z-index: -1000;
    opacity: 0; } }
@-webkit-keyframes pulse {
  0%,
    100%,
    30%,
    50%,
    60%,
    80% {
    transform: translateY(0); }
  40% {
    transform: translateY(8px); }
  70% {
    transform: translateY(5px); } }
@-moz-keyframes pulse {
  0%,
    100%,
    30%,
    50%,
    60%,
    80% {
    transform: translateY(0); }
  40% {
    transform: translateY(8px); }
  70% {
    transform: translateY(5px); } }
@keyframes pulse {
  0%,
    100%,
    30%,
    50%,
    60%,
    80% {
    transform: translateY(0); }
  40% {
    transform: translateY(8px); }
  70% {
    transform: translateY(5px); } }
#timeline-navigation {
  position: fixed;
  right: 0;
  bottom: 3vh;
  width: 94.2vw;
  display: none; }
  #timeline-navigation .nav-item {
    display: inline-block;
    text-align: left; }
    #timeline-navigation .nav-item:last-of-type .progress {
      margin-right: 0; }
    #timeline-navigation .nav-item .progress {
      display: inline-block; }
      #timeline-navigation .nav-item .progress .nav-item-label {
        display: inline-block;
        opacity: .1;
        letter-spacing: 0.15em;
        margin-left: .73vw;
        margin-right: .73vw;
        vertical-align: middle; }
      #timeline-navigation .nav-item .progress .bar {
        width: 8.9vw;
        height: 3px;
        background: rgba(255, 255, 255, 0.1);
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden; }
        #timeline-navigation .nav-item .progress .bar span {
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: white;
          -webkit-transform: translateX(-101%);
          -moz-transform: translateX(-101%);
          -ms-transform: translateX(-101%);
          -o-transform: translateX(-101%);
          transform: translateX(-101%); }

#videos, #mobile-videos {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  opacity: .27; }
  #videos .video, #mobile-videos .video {
    position: fixed;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
    display: inherit;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    min-height: 100%;
    opacity: 0; }
  #videos .loop-video, #mobile-videos .loop-video {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; }
    #videos .loop-video.fade-loop-in, #mobile-videos .loop-video.fade-loop-in {
      opacity: 1 !important; }

.no-focus:focus {
  outline: none !important;
  background: none !important;
  border: 0 !important; }

.is-active {
  display: inherit; }

.is-inactive {
  display: none;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.is-hidden {
  opacity: 0;
  z-index: -4000;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.has-not-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important; }

.is-scrollable {
  overflow: auto !important; }

.is-not-scrollable {
  overflow: hidden !important; }

a.no-decoration, a:hover.no-decoration {
  text-decoration: none !important;
  border: none !important; }

.absolute-left {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.absolute-right {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.absolute-top {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.absolute-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.fixed-left {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.fixed-right {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.fixed-top {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.is-relative {
  position: relative; }

.is-bold {
  font-family: "Open Sans Semibold", sans-serif !important; }

.is-bolder {
  font-family: "Open Sans Bold", sans-serif !important; }

/*# sourceMappingURL=app.css.map */
