@import "../components/variables";
@import "fonts";

body{
	margin:0;
	width:100vw;
	height:100vh;
	overflow: hidden;
	background: black;
    opacity:0;
    // cursor: pointer!important;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    // outline: none;
    // // cursor: pointer;
    
    &:focus{
        outline: -webkit-focus-ring-color auto 5px;
    }
}

button{
    @include appearance(none!important);
    background: none;
    cursor: pointer;
}
