@import "fonts";

h1,
h2,
h3,
h4,
h5,
h6,
a,
div{
	color: white;
	font-style: normal;
	margin: 0;
}

h2.headline{
	font: $md-headline;
	
	@include media($short-lg-desktop){
		font: $headline!important;
	}
	@include media($xl-desktop){
		font: $xl-headline;
	}
	@include media($lg-desktop){
		font: $lg-headline;
	}
	@include media($md-desktop){
		font: $headline;
	}
	@include media($lg-mobile){
		font: $headline;
	}
	@include media($md-mobile){
		font: $md-headline;
	}
	@include media($mobile){
		font: $md-headline;
	}
	@include media($sm-mobile){
		font: $md-headline;
	}
	@include media($xs-mobile){
		font: $sm-headline;
	}
	@include media($v-iphone-6-plus){
		font: $sm-headline;
	}
}

p.headline-description{
	font: $md-headline-p;
	
	@include media($short-lg-desktop){
		font: $headline-p!important;
	}
	@include media($xl-desktop){
		font: $xl-headline-p;
	}
	@include media($lg-desktop){
		font: $lg-headline-p;
	}
	@include media($md-desktop){
		font: $headline-p;
	}
	@include media($lg-mobile){
		font: $headline-p;
	}
	@include media($md-mobile){
		font: $md-headline-p;
	}
	@include media($mobile){
		font: $md-headline-p;
	}
	@include media($sm-mobile){
		font: $md-headline-p;
	}
	@include media($xs-mobile){
		font: $sm-headline-p;
	}
	@include media($v-iphone-6-plus){
		font: $sm-headline-p;
	}
}

p.heading{
	font: $md-heading-p;
	
	@include media($short-lg-desktop){
		font: $heading-p!important;
	}
	@include media($xl-desktop){
		font: $xl-heading-p;
	}
	@include media($lg-desktop){
		font: $lg-heading-p;
	}
	@include media($md-desktop){
		font: $heading-p;
	}
	@include media($lg-mobile){
		font: $heading-p;
	}
	@include media($md-mobile){
		font: $md-heading-p;
	}
	@include media($mobile){
		font: $md-heading-p;
	}
	@include media($sm-mobile){
		font: $md-heading-p;
	}
	@include media($xs-mobile){
		font: $sm-heading-p;
	}
	@include media($v-iphone-6-plus){
		font: $sm-heading-p;
	}
}

.subheadline{
	font: $md-subheadline;
	
	@include media($short-lg-desktop){
		font: $subheadline!important;
	}
	@include media($xl-desktop){
		font: $xl-subheadline;
	}
	@include media($lg-desktop){
		font: $lg-subheadline;
	}
	@include media($md-desktop){
		font: $subheadline;
	}
	@include media($lg-mobile){
		font: $subheadline;
	}
	@include media($md-mobile){
		font: $md-subheadline;
	}
	@include media($mobile){
		font: $md-subheadline;
	}
	@include media($sm-mobile){
		font: $md-subheadline;
	}
	@include media($xs-mobile){
		font: $sm-subheadline;
	}
	@include media($v-iphone-6-plus){
		font: $sm-subheadline;
	}
}

.link{
	font: $md-link;
	text-transform: uppercase;
	letter-spacing: .1em;
	
	@include media($short-lg-desktop){
		font: $link!important;
	}
	@include media($xl-desktop){
		font: $xl-link;
	}
	@include media($lg-desktop){
		font: $lg-link;
	}
	@include media($md-desktop){
		font: $link;
	}
	@include media($lg-mobile){
		font: $link;
	}
	@include media($md-mobile){
		font: $md-link;
	}
	@include media($mobile){
		font: $md-link;
	}
	@include media($sm-mobile){
		font: $md-link;
	}
	@include media($xs-mobile){
		font: $sm-link;
	}
	@include media($v-iphone-6-plus){
		font: $md-link;
	}
}

p.small-copy{
	font: $md-smallcopy;
	
	@include media($short-lg-desktop){
		font: $smallcopy!important;
	}
	@include media($xl-desktop){
		font: $xl-smallcopy;
	}
	@include media($lg-desktop){
		font: $lg-smallcopy;
	}
	@include media($md-desktop){
		font: $smallcopy;
	}
	@include media($lg-mobile){
		font: $smallcopy;
	}
	@include media($md-mobile){
		font: $md-smallcopy;
	}
	@include media($mobile){
		font: $md-smallcopy;
	}
	@include media($sm-mobile){
		font: $md-smallcopy;
	}
	@include media($xs-mobile){
		font: $sm-smallcopy;
	}
	@include media($v-iphone-6-plus){
		font: $md-smallcopy;
	}
}

p.content{
	font: $md-content-p;
	
	@include media($short-lg-desktop){
		font: $content-p!important;
	}
	@include media($xl-desktop){
		font: $xl-content-p;
	}
	@include media($lg-desktop){
		font: $lg-content-p;
	}
	@include media($md-desktop){
		font: $content-p;
	}
	@include media($lg-mobile){
		font: $content-p;
	}
	@include media($md-mobile){
		font: $md-content-p;
	}
	@include media($mobile){
		font: $md-content-p;
	}
	@include media($sm-mobile){
		font: $md-content-p;
	}
	@include media($xs-mobile){
		font: $sm-content-p;
	}
	@include media($v-iphone-6-plus){
		font: $sm-content-p;
	}
}

p.disclaimer{
	font: $md-disclaimer;
	
	@include media($short-lg-desktop){
		font: $disclaimer!important;
	}
	@include media($xl-desktop){
		font: $xl-disclaimer;
	}
	@include media($lg-desktop){
		font: $lg-disclaimer;
	}
	@include media($md-desktop){
		font: $disclaimer;
	}
	@include media($lg-mobile){
		font: $disclaimer;
	}
	@include media($md-mobile){
		font: $md-disclaimer;
	}
	@include media($mobile){
		font: $md-disclaimer;
	}
	@include media($sm-mobile){
		font: $md-disclaimer;
	}
	@include media($xs-mobile){
		font: $sm-disclaimer;
	}
	@include media($v-iphone-6-plus){
		font: $sm-disclaimer;
	}
}

h3.title{
	font: $md-title;
	
	@include media($short-lg-desktop){
		font: $title!important;
	}
	@include media($xl-desktop){
		font: $xl-title;
	}
	@include media($lg-desktop){
		font: $lg-title;
	}
	@include media($md-desktop){
		font: $title;
	}
	@include media($lg-mobile){
		font: $title;
	}
	@include media($md-mobile){
		font: $md-title;
	}
	@include media($mobile){
		font: $md-title;
	}
	@include media($sm-mobile){
		font: $md-title;
	}
	@include media($xs-mobile){
		font: $sm-title;
	}
	@include media($v-iphone-6-plus){
		font: $sm-title;
	}
}
