section{
	display: none;
	visibility: hidden;
	opacity:0;
	text-align: center;
	height:auto;
	
	&.is-active{
		display: inherit;
		visibility: visible;
	}

	.section-title{
		text-align: center;
		color:white;
	}
	
	&#introduction{
		width:49.19vw;
		@include media($lg-mobile) {
			width: 59.19vw;
		}
		@include media($md-mobile) {
			width: 69.19vw;
		}
		@include media($sm-mobile) {
			width: 79.19vw;
		}

		.section-title{
			width: 14.35vw;
			@include media($v-iphone-6-plus){
				width: 50vw;
			}
		}
		.heading{
			margin-top: 3.64vh;
			margin-bottom: 11vh;
		}
		#journey-btn{
			width:13vw;
			margin-left: auto;
			margin-right: auto;
			cursor: pointer;

			@include media($v-iphone-6-plus){
				width: 50vw;
			}

			p{
				width: 100%;
				@include transform(translate(-50%,-60%));
			}
		}
	}

	&#conclusion{
		#restart-btn{
			width:13vw;
			text-align: left;
			cursor: pointer;

			p{
				width: 100%;
				margin-top: 0!important;
				margin: 0 auto;
				text-align: center;
				@include transform(translate(-50%,-60%));
			}
		}
		div.content{
			a{
				// display: none;
				&:nth-of-type(2){
					p.content{
						margin-top: 0;
					}
				}	
			}
		}
		.divider:last-of-type{
			margin-bottom: 4.28vh;
		}
	}

	width:48.12vw;

	@include media($lg-mobile) {
		width: 58.12vw;
	}
	@include media($md-mobile) {
		width: 68.12vw;
	}
	@include media($sm-mobile) {
		width: 82.12vw;
	}

	&.super{
		z-index: 1;
		text-align: center;

		.headline{
			text-align: center;
			margin-left:auto!important;
			margin-right:auto!important;
			width: auto;
			@include position(absolute, 50% null null 50%);
			@include transform(translate(-50%,-50%));
			width: 80vw;

			@include media($md-mobile){
				width: 80%;
			}
			@include media($sm-mobile){
				width: 80%;
			}
			@include media($xs-mobile){
				width: 80%;
			}
		}

		p.headline-description{
			color: $white;
			margin-top: 1.5vh;
			letter-spacing: 0.03em;
		}

		.btn{
			margin-top: 2.25vh;
			display: block;

			.start-btn{
				margin-left: .6vw;
			}
		}

		.link{
			img{
				width: .6vw;
				min-width: 14px;
				margin-right: .4vw;
				vertical-align: middle;
			}
		}
	}

	&.copy{
		z-index: 1;
		// text-align: left!important;

		.section-title{
			color:rgba(255,255,255, 0.4)!important;
			text-align: left!important;
		}

		p{
			color: $white;
			margin-top: 1.5vh;
			letter-spacing: 0.03em;
		}

		.btn{
			margin-top: 2.25vh;
			display: block;

			.start-btn{
				margin-left: .6vw;
			}
		}
	}

	div.content{
		text-align: left;
		display: none;
		width:48.12vw;

		@include media($lg-mobile) {
			width: 58.12vw;
		}
		@include media($md-mobile) {
			width: 68.12vw;
		}
		@include media($sm-mobile) {
			width: 82.12vw;
		}

		div.divider{
			width:100%;
			height: 1px;
			background: $ltgray;
			margin-top: 4.28vh;
			margin-bottom: 0;
		}
		.learn-more{
			display: none;

			p{
				margin-top:2.2vh;
				&:first-of-type{
					margin-top:4.28vh;
				}
			}
			h3{
				color: white;
				&.faded{
					color: rgba(255,255,255,0.4);
				}
				&:last-of-type{
					margin-top: 3px;
				}
			}
			ul{
				margin: 3.38vh 0 3.38vh 0;
				padding: 0;
				padding-left: 20px;

				li{
					margin:0;
					padding: 0;
					margin-left: 20px;
					letter-spacing: 0.03em;
					p{
						margin-top:0!important;
					}
				}
			}
		}
		.more-btn, .back-btn{
			margin-bottom: 3.6vh;
			display: block;

			img{
				width:1vw;
				min-width:14px;
				margin-right:1vw;
				vertical-align: middle;
			}
		}
	}
}