button{
	border: 0;
	appearance: none!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
}
a{
	cursor: pointer!important;
}
.start-btn{
	width: 1.8vw;
	min-width: 45px;
	vertical-align: middle;
	cursor: pointer;
	@include transform(scaleX(-1) rotate(-90deg));

	@include media($sm-mobile){
		min-width: 35px;
	}
}

#skip-button {
	z-index: 10000;
	position: absolute;
	transform: translateX(-50%);
	bottom: 65px;
	margin-left: 50%;
	color:#fff;

	height: auto;
	cursor: pointer;
	color: white;
	border: 0;
	appearance: none!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;

	span{
		width: 100%;
		@include transform(translate(-50%,-50%));
		margin: 0 auto;
		text-align: center;
		color: white;
	}

	svg{
		width: 13vw;
	    height: 3.45vw;
	    min-width: 180px;
	    min-height: 48px;
	    display: block;
	    @include transition(background .3s ease-in-out);
	    @include media($xs-mobile){
			width: 180px;
			height: 48px;
		}
		@include media($v-iphone-6-plus){
			width: 50vw;
			min-height: 52px;
		}
	}

	&:hover{
		svg{
			background:rgba(123,123,123,0.5);	
		}
	}
	&:focus{
        outline: -webkit-focus-ring-color auto 5px;
        svg{
        	background:rgba(123,123,123,0.5);
        }
    }
}


#skip-button.hidden {
	display: none;
}

.prev-next{
	position: relative;
	width:100vw;
	opacity: 0;
	display: none;
}
.prev-btn{
	left: 2.9vw!important;
	width:4.4vw;
	min-width: 15px;
	cursor: pointer;
	@include transition(all .35s ease-in-out);

	@include media($sm-mobile){
		width: 10px;
		min-width: 10px;
	}
}
.next-btn{
	right: 2.9vw!important;
	width:4.4vw;
	min-width: 15px;
	cursor: pointer;
	@include transition(all .35s ease-in-out);

	@include media($sm-mobile){
		width: 10px;
		min-width: 10px;
	}
}

.previous-button{
	left: 2.9vw!important;
	min-width: 15px;
	cursor: pointer;
	appearance: none!important;
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
	@include transition(all .35s ease-in-out);

	@include media($sm-mobile){
		width: 10px;
		min-width: 10px;
	}
	svg{
		text-align: center;
		@include margin(null auto 1.3vh auto);
		display: block;
	}
	.name{
		text-align: center;
		display:block;
		display: none;
		color: white;
		&.is-active{
			display:block!important;
		}
	}

	&:hover, &:focus{
		opacity:1!important;
	}
}
.next-button {
	right: 2.9vw!important;
	min-width: 15px;
	cursor: pointer;
	appearance: none!important;
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
	@include transition(all .35s ease-in-out);

	@include media($sm-mobile){
		width: 10px;
		min-width: 10px;
	}

	svg{
		text-align: center;
		@include margin(null auto 1.3vh auto);
		display: block;
	}
	.name{
		display:block;
		display: none;
		&.is-active{
			display:block!important;
		}
	}
	&:focus{
		opacity:1!important;
	}
}

#volume-warning{
	width: 8vw;
	text-align: center;
	@include position(fixed, null null 7.11vh 50%);
	@include transform(translateX(-50%));

	@include media($xs-mobile){
		width: 25vw;
	}
	@include media($v-iphone-6-plus){
		width: 25vw;
	}
	p{
		display: block;
		margin:0 auto;
		margin-bottom: 14px;
	}
	svg{
		width: 4.39vw;
		height: 2.59vh;

		@include media($xs-mobile){
			width: 10vw;
			height: 6vw;
		}
		@include media($v-iphone-6-plus){
			width: 10vw;
			height: 6vw;
		}

		#sound-2{
			@include animation-delay(.25s);
		}
		#sound-3{
			@include animation-delay(.5s);
		}
	}
}

a, .link, .no-decoration{
	cursor:pointer!important;
}

#play-pause-fs{
	width: 100vw;
	height:95vh;
	@include position(fixed, 0 0 0 0);
	z-index:1;
	cursor: pointer;
	display: none;
	border: 0;
	appearance: none!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;

	.active{
		display: block!important;
	}
}




input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  // outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0;
  background: #fff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0;
  border: 1px solid #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.75px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0;
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid #fff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0;
  border: 1px solid #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1.75px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0;
  background: #fff;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  border: 0.2px solid #fff;
  border-radius: 2.6px;
  box-shadow: 0;
}
input[type=range]::-ms-fill-upper {
  background: #fff;
  border: 0.2px solid #fff;
  border-radius: 2.6px;
  box-shadow: 0;
}
input[type=range]::-ms-thumb {
  box-shadow: 0;
  border: 1px solid #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}
