#timeline-navigation{

  @include position(fixed, null null 3vh 50%);
  @include transform(translateX(-50%));
  width: 94.2vw;
  height: 1.35vh;
  display: none;
  z-index: 2;

  .nav-item{
    display: inline-block;
    text-align: justify;
    margin:0;
    padding:0;
    appearance: none!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    border:none;
    @include clearfix;

    &:hover,
    &:focus {
      .progress .nav-item-label {
        opacity: .9!important;
        transition: opacity .15s linear;
      }
    }

    &:last-of-type{
      .progress{
        margin-right: 0;
      }
    }

    .progress{
      display: inline-block;

      .nav-item-label{
        display: inline-block;
        opacity: .1;
        letter-spacing: 0.15em;
        margin-left: .73vw;
        margin-right: .73vw;
        vertical-align: middle;
        color: white;
      }

      .bar{
        width: 8vw;
        height: 1.75px;
        background: rgba(255,255,255,0.1);
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;

        @include media($xl-desktop){
          width: 9.55vw;
        }
        @include media($lgr-desktop){
          width: 9vw!important;
        }
        @include media($lg-desktop){
          width: 7.75vw;
        }
        @include media($md-desktop){
          width: 8vw;
        }
        @include media($most-common-screen){
          width: 8.25vw;
        }
        @include media($sm-desktop){
          width: 7.4vw;
        }
        
        span{
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: white;
          @include transform(translateX(-101%));
        }
      }
    }
  }

  #videos-time-tracker{
    display: none;
    vertical-align: middle;
    color: white;
    margin-left: 10px;
    cursor: default;
  }

  #play-pause{
    width:auto;
    height: 22px;
    margin: 0 10px;
    vertical-align: middle;
    cursor: pointer;

    @include media($xs-desktop){
      min-height: 12px;
    }

    #play{
      opacity:0;
      @include transition(opacity .35s ease-in-out);
    }
    &.play-active{
      #play{
        opacity: 1!important;
      }
      #pause{
        opacity: 0!important;
      }
    }
  }

  #skip-backward{
    width:auto;
    height: 12px;
    margin: 0 10px;
    vertical-align: middle;
    cursor: pointer;
    @include transform(rotate(180deg));

    @include media($lg-desktop){
      min-height: 12px;
    }
    @include media($xs-desktop){
      min-height: 12px;
    }
  }

  #skip-forward{
    width:auto;
    height: 12px;
    margin: 0 10px;
    vertical-align: middle;
    cursor: pointer;

  }

  #volume{
    height: 18px;
    width: 20px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    position: relative;
    @include media($xs-desktop){
      min-height: 12px;
    }
    #sound-btn{
      @include position(absolute, 0 null null 0);
      z-index:1000;
      font-size: 0;
      line-height: 0;
    }
    #sound-btn, #volume-icon, #unmute, #mute{
      height: 18px;
      width: 20px;
      display: block;
    }

    #mute{
      opacity:0;
      @include transition(opacity .35s ease-in-out);
    }

    #volume-control{
      @include position(absolute, 50% null null 20px);
      @include transform(translate(-10px,-50%));
      text-align: left;
      opacity: 0;
      @include transition(all .35s ease-in-out);
      z-index:900;
      input{
        width: 6.4vw!important;
      }
    }
    &:hover, &.show-controlbar{
      #volume-control{
        @include transform(translate(5px,-50%)!important);
        opacity: 1!important;
      }
    }
    &.is-muted{
      #volume-control{
        display: none!important;
      }
      #mute{
        opacity: 1!important;
      }
      #unmute{
        opacity: 0!important;
      }
    }
  }

  // #sound-bar{
  //     height:10px;
  //     display: inline-block;
  //     vertical-align: top;
  //     cursor: pointer;
  //     .bar{
  //       width: 1px;
  //       height: 10px;
  //       background: white;
  //       display: inline-block;
  //       margin-right:-2px;

  //       @include media($lg-desktop){
  //         width: 1px;
  //       }
  //       @include media($xl-desktop){
  //         width: 1px;
  //       }
  //     }
  // }
}
