#timeline-navigation{

  @include position(fixed, null 0 3vh null);
  width: 94.2vw;
  display: none;

  .nav-item{
    display: inline-block; 
    text-align: left;

    &:last-of-type{
      .progress{
        margin-right: 0;
      }
    } 
    
    .progress{
      display: inline-block;
      .nav-item-label{
        display: inline-block;
        opacity: .1;
        letter-spacing: 0.15em;
        margin-left: .73vw;
        margin-right: .73vw;
        vertical-align: middle;
      } 

      .bar{
        width: 8.9vw;
        height: 3px;
        background: rgba(255,255,255,0.1);
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;

        span{
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: white;
          @include transform(translateX(-101%));
        }
      }
    }
  }
}