.popup{
	width: 32.86vw;
	height:auto;
	background: white;
	z-index: 6000;
	@include position(fixed, 0 0 null null);
	@include transform(translateX(110%));
	padding: 4.5vh 5.7vw;
	@include transition(all .65s ease-in-out);

	a.close-btn{
		color:$gray;
		text-align: right;
		float: right;
		cursor: pointer;
		display: block;
	}

	a{
		color:$gray;
	}

	p{
		color: $gray;
		&:first-of-type{
			margin-top: 5.6vh;
		}
	}

	.add-margin-top{
		margin-top: 4.5vh!important;
	}

	@include media($sm-mobile){
		width: 50vw;
	}
	@include media($xs-mobile){
		width:100vw;
		height:100vh;
	}
	@include media($v-iphone-6-plus){
		width:100vw;
		height:100vh;
	}
	@include media($h-iphone){
		width:100vw;
		height:100vh;
	}

	&.popup-is-active{
		@include transform(translateX(0)!important);
	}

	&#contact-popup{
		.email-link{
			margin-top: 0!important;
			p{
				margin-top: 0!important;
			}
		}
	}
}

#vision-popup{
	display: none;
	@include position(fixed, 0 0 0 0);
	z-index: 9000;
	width:100vw;
	height:100vh;
	overflow: hidden;
	background: rgba(0,0,0,.95);

	div.lightbox-container{
		width:100%;
		height:100%;
		display: block;
		position: relative;

		#close-fs-video{
			display: none;
			@include position(absolute, 1.9vw 2.9vw null null);
			z-index: 9001;
			appearance: none!important;
		    -webkit-appearance: none!important;
		    -moz-appearance: none!important;
		    border:none;
		    width:2vw;
			height:2vw;
			min-width: 30px;
		    min-height: 30px;
		    cursor: pointer;

			&.is-active{
				display: block!important;
			}
		}

		#aetnacare-full-video{
			width:80vw;
			@include position(absolute, 50% 0 0 50%);
			@include transform(translate(-50%,-50%));
		}	
	}

	
}